
input{
    float:left;
    width:150px;
    margin-bottom:10px; /*or whatever you want the spacing to be*/
    }
    #submitButton{
        margin-bottom:10px; 
    }
    label{
        float: right;
    }

    form{
        margin-top: 40px;
    }